@model BeerRecipesProjekt.Models.BeerRecipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beer recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            Tagline
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tagline)
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            Ingredients
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ingredients)
        </dd>
        <dt class = "col-sm-2">
            Food pairing
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.food_pairing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
